# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- json

pool:
  vmImage: ubuntu-latest

steps:
# - task: NodeTool@0
#   displayName: 'Install Node.js'
#   inputs:
#     versionSpec: '18.18.x'
# - script: |
#     npm ci
#     npm run build
#   displayName: 'npm install and build'

# Docker v2
# Build or push Docker images, login or logout, start or stop containers, or run a Docker command.
- task: Docker@2
  inputs:
  # Container Repository
    #containerRegistry: # string. Container registry. 
    #repository: # string. Optional. Use when command != login && command != logout && command != start && command != stop. Container repository. 
  # Commands
    command: 'build'
    Dockerfile: 'Dockerfile'
    buildContext: '**'
    tags: 'goof'
    #arguments: # string. Optional. Use when command != login && command != logout && command != buildAndPush. Arguments. 
    #addPipelineData: true # boolean. Add Pipeline metadata to image(s). Default: true.
    #addBaseImageData: true # boolean. Add base image metadata to image(s). Default: true.
    #container: # string. Optional. Use when command = start || command = stop. Container.

# - task: SnykSecurityScan@1
#   displayName: 'Snyk: Scan Projects'
#   inputs:
#     serviceConnectionEndpoint: 'Snyk'
#     testType: 'app'
#     monitorWhen: 'never'
#     failOnIssues: false
#     additionalArguments: '--all-projects, --dev, -d'
#     debug: true

# - task: DevSnykSecurityScan@0
#   inputs:
#     serviceConnectionEndpoint: 'Snyk'
#     testType: 'app'
#     monitorWhen: 'never'
#     failOnIssues: false
#     additionalArguments: '--all-projects, --dev, -d'
#     debug: true

- task: SnykSecurityScan@1
  displayName: 'Snyk: Scan Container Image'
  inputs:
    serviceConnectionEndpoint: 'Snyk'
    testType: 'container'
    dockerImageName: 'goof'
    dockerfilePath: 'Dockerfile'
    monitorWhen: 'never'
    failOnIssues: true
    additionalArguments: '-d'
    debug: true
