version: 2.1

orbs:
  snyk: snyk/snyk@2.3.0

jobs:
  build:
    docker:
      - image: cimg/node:24.1.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-
      - run:
          command: npm ci
      - save_cache:
          key: v1-dependencies-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
  snyk_oss_reachability:
    docker:
      - image: cimg/node:24.1.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-
      - snyk/scan:
          cli-version: 1.1301.0-preview.333c5a29ba4bdbc1e649036827bd784df8a31dd2
          command: test
          monitor-on-build: false
          additional-arguments: -d --reachability --org=platform_hammerhead_testing --sarif-file-output=ignoreme.sarif.json
      - store_artifacts:
          path: ignoreme.sarif.json
          destination: sarif-output
      - save_cache:
          key: v1-sarif-{{ checksum "package-lock.json" }}
          paths:
            - ignoreme.sarif.json
  snyk_sbom:
    docker:
      - image: cimg/node:24.1.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-
      - snyk/scan:
          cli-version: 1.1300.0
          command: sbom
          monitor-on-build: false
          additional-arguments: -d --org=platform_hammerhead_testing --format=cyclonedx1.6+json --json-file-output=ignoreme.sbom.json
      - store_artifacts:
          path: ignoreme.sbom.json
          destination: sbom-output
      - save_cache:
          key: v1-sbom-{{ checksum "package-lock.json" }}
          paths:
            - ignoreme.sbom.json
  snyk_sbom_test:
    docker:
      - image: cimg/node:24.1.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-
      - restore_cache:
          keys:
            - v1-sbom-{{ checksum "package-lock.json" }}
            - v1-sbom-
      - snyk/scan:
          cli-version: 1.1300.0
          command: sbom test
          monitor-on-build: false
          additional-arguments: -d --org=platform_hammerhead_testing --file=ignoreme.sbom.json --experimental

workflows:
  version: 2
  build_and_scan:
    jobs:
      - build
      - snyk_oss_reachability:
          requires:
            - build
      - snyk_sbom:
          requires:
            - build
      - snyk_sbom_test:
          requires:
            - snyk_sbom
