version: 2.1

orbs:
  snyk: snyk/snyk@2.3.3

jobs:
  build:
    docker:
      - image: cimg/node:24.1.0
    steps:
      - checkout
      - run:
          command: npm install -q
      - snyk/scan:
          cli-version: 1.1300.0
          command: sbom
          additional-arguments: -d --org=platform_hammerhead_testing --format=cyclonedx1.6+json --json-file-output=ignoreme.sbom.json
