name: "validating available snyk actions"
on: 
  workflow_dispatch
jobs:
  security:
    runs-on: docker
    steps:
      - uses: actions/checkout@master
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: -d --all-projects --severity-threshold=high --fail-on=upgradable  
  sbtScalaAction:
    runs-on: docker
    steps:
      - uses: actions/checkout@master
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/sbt1.10.0-scala3.4.2@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: -vd
